@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FormaDJRDisplay-Regular';
  src: url('./assets/fonts/FormaDJRDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GoodHeadlineMedium';
  src: url('./assets/fonts/FormaDJRDisplay-Regular.ttf') format('truetype');
}

/* @font-face {
  font-family: 'GoodHeadlineRegular';
  src: url('./assets/FormaDJRDisplay-Regular.otf') format('truetype');
} */

/* .container-fluid{
  padding: 0;
  margin: 0;
} */

* {
  font-family: 'FormaDJRDisplay-Regular';
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.slick-prev:before, .slick-next:before {
    opacity: 1!important;
    color: #0296D6!important;
    font-size: 30px!important;
}


.slick-dots li{
    width: .75rem!important;
    height: .75rem!important;
    border-radius: 100%;
    border: 1px solid rgb(107 114 128 / 1);
}

.slick-dots li.slick-active{
    border: none;
    background-color: #0296D6;
}

.slick-slide > div{
    margin-left: 5px;
    margin-right: 5px;
}

.slick-slide.slick-active:nth-child(3) .layer{
    @apply bg-gray-800/10
}

.slick-slide.slick-active .layer{
    @apply bg-gray-800/10
}
